.container {
  background-color: #1ac41a;
  padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:flex-start;
}

h1 {
  margin-bottom: 0px;
  font-size: 26px;
  font-weight: bold;
}

.statistic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
